@media screen and (max-width: 768px) {
    #layer-1 , #layer-2 , #layer-3 , #layer-4{
    position: absolute;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}
#layer-1{
    background-image: url(../image/earth.png);
    width: 130px;
    height: 130px;
    left: 13%;
    top: 13%;
    z-index: 4;
}
#layer-2{
    background-image: url(../image/moon.png);
    width: 40px;
    height: 40px;
    left: 40%;
    top: 7%;
    z-index: 3;
}
#layer-3{
    background-image: url(../image/sun.png);
    width: 230px;
    height: 230px;
    left: -40%;
    top: 45%;
    z-index: 6;
    position: fixed;
}
#layer-4{
    background-image: url(../image/space1.png);
    left: -100px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    position: fixed;
    background-position: center;
}
#layer-5{
    background-image: url(../image/space2.png);
    width: 400px;
    height: 400px;
    left: 22%;
    top: 18%;
    z-index: 2;
    background-repeat: no-repeat;
}
#layer-background{
    background-image: url(../image/space.png);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
}